<div [@confirmDialogChanged]="state" class=" modal " *ngIf="isActivated" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-light">{{ title | uppercase }}</h5>
            </div>
            <div class="modal-body">
                <p>{{ message }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="ok()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
            </div>
        </div>
    </div>
</div>
<div [@confirmDialogChangedOverlay]="state" *ngIf="isActivated" class="overlay">

</div>