<div class="card">
    <div class="card-body">
        <h1>LIÊN HỆ-GÓP Ý</h1>
        <ul>
            <li>
                <span style="width: 100%; text-align: justify; color: rgb(0, 156, 201);">
                        Đây là kênh thông tin tiếp nhận những góp ý, chia sẻ, thắc mắc của tất cả phụ huynh, sinh viên, giảng viên, cán bộ nhân viên và tất cả những ai quan tâm gửi ý kiến đóng góp cho Nhà trường. Các câu hỏi, góp ý gửi đến sẽ hoàn toàn được  giữ bí mật và được Hội Đồng Quản Trị, Ban Giám Hiệu, các trưởng bộ phận trả lời sớm nhất. Chân thành cảm ơn bạn đã có những ý kiến đóng góp xây dựng và phát triển Trường . 
                    </span>
            </li>
        </ul>
        <ul>
            <li>
                <span style="width: 100%; text-align: justify; color: rgb(0, 156, 201);">
                        Chú ý : Để nhận được câu trả lời của Nhà trường xin vui lòng nhập địa chỉ Email chính xác
                </span>
            </li>
        </ul>
    </div>
</div>
<form>
    <div class="form-group">
        <label for="nameInput">Họ Và Tên của bạn:</label>
        <input type="name" class="form-control" id="nameInput" aria-describedby="namelHelp" placeholder="Nhập họ tên bạn...">
    </div>
    <div class="row">
        <div class="col">
            <label for="phoneInput">Điện Thoại:</label>
            <input type="text" class="form-control">
        </div>
        <div class="col">
            <label for="emailInput">Email:</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="contentControlTextarea">Nội dung:</label>
        <textarea class="form-control" id="contentControlTextarea" rows="4"></textarea>
    </div>
    <button type="submit" class="btn" style="text-align: right">Gửi đi</button>
</form>