.overlay:target {
    visibility: visible;
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: rgba($color: gray, $alpha: 0.4);
    transition: all .5s ease;
    .overlay-container {
        position: absolute;
        margin: auto auto;
        top: calc(50% - 200px);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}