<!-- <div class='container-fluid'>
    <hure-nav></hure-nav>
</div>
<div class="row">
    <hure-search class="col-md-12"></hure-search>
</div>
<div class='row'>
    <div class='col-sm-3'>

    </div>
    <div class='col-sm-9 body-content'>
        <router-outlet></router-outlet>
        
<hure-confirm-dlg></hure-confirm-dlg>
    </div>
</div>
<hure-footer> </hure-footer> -->
<div class='container-fluid'>
    <hure-nav></hure-nav>
    <div class='row'>
        <div class='col-sm-9 body-content'>
            <button class="btn btn-primary" (click)="showDlg()">Click</button>
            <button class="btn btn-primary" (click)="showAlert()">Click</button>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<hure-confirm-dlg></hure-confirm-dlg>
<hure-alert></hure-alert>