
.navlogo{
    position: relative;
    background-color:white;

   margin:0;
}
.mainnav{
    margin:auto;
    margin-bottom: 5px;
}
.IMG_LOGO{
    padding: 10px;
}
.INTRO_LOGO{
    color:RED;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    z-index: 888;
    line-height: 8vw;
}
.navul a{
    color: #006CB5;
    font-size: 16px;
    font-weight: bold;
}
.navul-list-item{
    width:100%;
    margin: auto;
}
.mr-auto>li{
    margin:auto;
}

.navsearchbox{
    display: none;
}
.item-in-list{
    text-align: left;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown-menu>a:hover{
    background-color:#006CB5;
    color:white;
}
@media screen and (max-width: 880px) {
   
}
@media screen and (max-width: 780px) {
   
    .INTRO_LOGO{
        line-height: 10vw;
    }
 }
 @media screen and (max-width:991px){
    .mr-auto>li{
        width:100%;
        border-bottom:1px solid lightgray;
    }
    .navsearchbox{
        display: block;
    }
 }
 @media screen and (max-width: 575.5px) {
    .INTRO_LOGO{
        line-height: normal;
        font-size: 2.5vw;
    }
    .IMG_LOGO{
        width:288px;
        margin:auto;
    }
 }
