<div class="row" style="background-color:#52D0DF;margin:20px;">
    <div class="col-md-3" style="font-size:30px;text-align:center"><a href="#">LOGO</a></div>
        <ul class="nav col-md-9 nav-ul" style="font-size:16px; font-weight:bold">
            <li class="nav-item nav-item1 nav-main-item">
                <a class="nav-link active" href="#">Browse Jobs </a>
                <ul class="nav-hover-item">
                    <li class="nav-li-main-item">a
                        <ul class="nav-li-hover-item">
                            <li>b</li>
                            <li>bb</li>
                            <li>bbb</li>
                            <li>bbbb</li>
                            <li>bbbb</li>
                        </ul>    

                    </li>
                    <li class="nav-li-main-item">aa</li>
                    <li class="nav-li-main-item">aaa</li>
                    <li class="nav-li-main-item">aaaa</li>
                    <li class="nav-li-main-item">aaaaa</li>
                </ul>
            </li>
            <li class="nav-item nav-item1">
                <a class="nav-link" href="#">Employees</a>
            </li>
            <li class="nav-item nav-item1">
                <a class="nav-link" href="#">Candidates</a>
            </li>
            <li class="nav-item nav-item1">
                <a class="nav-link" href="#">Pages</a>
            </li>
            <li class="nav-item nav-item1 nav-underline">
                    <a class="nav-link" href="#">Join us</a>
            </li>    
            <li class="nav-item nav-item1">
                    <a class="nav-link nav-button1" href="#">BUTTON</a>
            </li>    
        </ul>
</div>