<div class="hures-search-container">
  <hure-search-bar></hure-search-bar>
</div>
<div class="container">
  <div class="hures-container">
    <div *ngIf="jobs$ | async; let jobs; else waiting" class="d-flex flex-column">

      <h3>Có {{ jobs.length }} kết quả phù hợp.</h3>
      <ng-container *ngFor="let job of jobs;let i=index">
        <hure-job *ngIf="i<limit" [job]="job" class="m-1"></hure-job>
        <hr *ngIf="i<jobs.length-1 && i<limit-1" style="width:100%;">
      </ng-container>
    </div>
    <ng-template #waiting>
      <hure-waiter></hure-waiter>
    </ng-template>
  </div>
</div>