<div class="search_box row">
    
        <div class="row col-xs-12 col-sm-8 col-md-7 col-lg-5 search_input" style="box-shadow:0 0 20px #52D0DF; padding:0;">
            <input type="text" class="form-control col-xs-12 col-sm-7 col-md-8 col-lg-8 search-border" placeholder="Search" id="txtSearch" />
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 search-border" style="padding:0;position:relative;"><input type="text" class="form-control" placeholder="All Location" id="txtSearch" style="float:left;" /></div>
        </div>

        <div class="search_icon">
            <i class="fa fa-search" aria-hidden="true"></i>FIND SOMETHING?
        </div>
    
</div>