.hures-popover-container {
    position: relative;
    .hures-popover-button{
        width: 32px;
        height: 32px;
        img{
            height: 32px;
            width: 32px;
        }
    }
    .app-popover {
        position: absolute;
        min-width: 20rem;
        left: 99999999999px;
    }
}