<slide> </slide>
<hure-action-bar></hure-action-bar>
<section id="main" class="row">
    <div class="col-12">
        <hure-job-group-container></hure-job-group-container>
    </div>
    <div class="col-lg-6 col-xl-4 col-md-12 col-sm-12 col-12">
        <hure-jobs-container></hure-jobs-container>
    </div>
    <div class="col-lg-6 col-xl-4 col-md-12 col-sm-12 col-12">
        <hure-jobs-container title="Thực tập"></hure-jobs-container>
    </div>
    <div class="col">
        <hure-jobs-container title="Công việc mới"></hure-jobs-container>
    </div>
    <div class="col-12">
        <hure-brand-container></hure-brand-container>
    </div>
</section>