<slide> </slide>
<!-- <hure-loginbox></hure-loginbox> -->
<!-- <hure-search></hure-search> -->
<hure-search-bar></hure-search-bar>
<hure-action-bar></hure-action-bar>
<section id="main" class="row">
    <div class="col-12">
        <hure-job-group-container></hure-job-group-container>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6 col-lg-6">
                <hure-jobs-container></hure-jobs-container>
            </div>
            <div class="col-12 col-xl-6 col-lg-6">
                <hure-jobs-container title="Thực tập"></hure-jobs-container>
            </div>
        </div>
    </div>
    <!--<div class="col-6">
        <hure-jobs-container title="Công việc mới"></hure-jobs-container>
    </div>-->
    <div class="col-12">
        <hure-brand-container></hure-brand-container>
    </div>
    <div class="col-12">
        <!--<hure-eventlist [title]="'Sự Kiện Sắp Diễn Ra'" [limit]="3"> </hure-eventlist>-->
    </div>
</section>