<div *ngIf="size=='medium'" class="hures-job-card d-flex flex-row align-content-stretch" id="hures-job-card">
  <img alt="logo" [src]="job.company.urlLogo" />
  <div class="hures-job-content">
    <div class="d-flex-column">
      <h4 class="card-text text-uppercase">{{ job?.title| limitText:50 }}</h4>
      <div class="d-flex flex-row unflexxx">
        <div class="d-flex flex-column hures-job-info">
          <p>{{ job?.shortDescription | limitText:39}}</p>
          <span>
            <i class="fa fa-map-marker"></i> {{ job?.place }}</span>
        </div>
        <div class="float-right">
          <button class="hures-job-apply-button" rippleEffect (click)="apply()">Xem ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="size=='small'">
  <div class="hures-job-content-small">
    <div>
      <p class="card-text text-uppercase">{{ job?.title }}</p>
      <button class="hures-job-apply-button" rippleEffect (click)="apply()">Xem ngay</button>
    </div>
  </div>
</div>