<div class="job-component">
  <li class="job-holder"> 
    <div class="jobs-content">
      <div class="cs-media">
        <figure>
          <a href="{{link}}">
            <img src="{{image}}" alt="">
          </a>
        </figure>  
      </div>
      <div class="cs-text">
         <div class="cs-post-title">
           <h5><a href="{{link}}">{{job}}</a></h5>
        </div>
          <div class="post-options"> 
            <ul>
              <li>
                <span class="cs-color">{{post}}</span>
              </li>
              <li>
                 <i class="fa fa-map-marker"></i>
                    {{location}}  
              </li>
            </ul>
          </div>
      </div>
      <span class="jobs-type">
        <a href="{{linkjobtype}}" style="border-color:#32bea6;color:#32bea6;">
          {{jobtype}}
        </a> 
      </span>
      <a href="javascript:void(0);" class="jobtype-btn " onclick="trigger_func('#btn-header-main-login');"> 
        Apply Now
      </a>
    </div>
  </li>
</div>  