.job-component{
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    width: 100%;
}
.job-component .job-holder{
    line-height: normal;
    display: block;
    padding: 10px 18px 10px 22px;
}
.job-component .jobs-content{
    background: none;
    border-top: 0;
}
.job-component .cs-media{
    display: inline-block;
    width: 62px;
    margin: 0 30px 0 0;
    vertical-align: middle;
    float: none;
}
.job-component figure{
    width: auto;
}
.job-component a{
    box-shadow: none;
    color: #424242;
    font: 700 14px/20px "Raleway", sans-serif;
    letter-spacing: 1px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
}
.job-component figure img{
    box-shadow: none;
    width: 100%;
    vertical-align: middle;
}
.cs-color{
    color: #f26522 !important;
}
.job-component .cs-text{
    display: inline-block;
    vertical-align: middle;
    min-width: 320px;
    padding: 9px 0;
    width: 55%;
}
.job-component .cs-post-title{
    display: inline-block;
    vertical-align: middle;
}
.job-component .cs-post-title h5{
    margin: 0 !important;
}
.job-component .cs-post-title h5 a{
    text-decoration: none;
    display: block;
    outline: none;
    border: 0;
    font: 400 14px/20px "Varela Round", sans-serif!important;
}
.job-component .post-options{
    margin: 0;
}
.job-component .post-options ul{
    margin: 0;
    padding: 0;
}
.job-component .post-options li{
    position: relative;
    list-style: none;
    display: inline-block;
    color: #6d6d6d;
    font-size: 12px;
    margin: 0 5px 0 0 !important;
    letter-spacing: 1px;
}
.job-component .post-options li span{
    text-decoration: none;
    outline: none;
    border: 0;
    font-size: 12px;
    text-transform: uppercase;
    font: 700 14px/20px "Raleway", sans-serif;
}
.job-component .cs-location{
    margin: 0 50px 0 0;
    vertical-align: middle;
}
.job-component .cs-location i{
    font-size: 16px;
    vertical-align: middle;
    color: #96a2b2;
    margin: 0;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-location6:before {
    content: "\e9ef";
}
.job-component .post-options li::after{
    clear: both;
    content: '';
    display: block;
}
.job-component .jobs-type{
    margin: 0 31px 0 0;
    display: inline-block;
}
.job-component .jobs-type a{
    color: #424242;
    font: 400 14px/20px "Varela Round", sans-serif;
    text-transform: unset;
    color: #32bea6;
}
.job-component .jobtype-btn{
    border: 1px solid;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 1px;
    margin: -18px 0 0 !important;
    outline: none;
    padding: 8px 14px;
    right: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f26522;
    top: 50%;
    position: static;
    display: inline-block;
}