<!--<div class="col-md-3">-->
<div class="group-component">
  <div class="row" style="padding: 5px; text-align: center;align-items: center;">
    <!--<div class="col-md-6">-->
      <a href="link">
        <img [src]="image" alt="" style="width: 64px; height: 64px;">
      </a>
    <!--</div>-->
    <!--<div class="col-md-6">-->
      <strong>{{text}}</strong>
    <!--</div>-->
  </div>
</div>
<!--</div>-->
<!--<div class="group-component">
  <div class="cs-media">
    <figure>
      <a href="link">
        <img [src]="image" alt="">
      </a>
    </figure>
  </div>
  <div class="cs-text" style="text-align: center">
    <a href="link">

    </a>
  </div>
</div>-->