<router-outlet></router-outlet>
<hure-search></hure-search>
<div class="container">
    <div class="row">
        <hure-group class="col-md-3" style="margin-bottom: 5px;" *ngFor="let item of test" [image]="'https://maxcdn.icons8.com/Color/PNG/96/Plants/pineapple-96.png'"
            [link]="'test'" [text]="'text'"></hure-group>
        <!--<hure-group class="col-md-3" [image]="'https://maxcdn.icons8.com/Color/PNG/96/Plants/pineapple-96.png'" [link]="'test'" [text]="'text'"></hure-group>
        <hure-group class="col-md-3" [image]="'https://maxcdn.icons8.com/Color/PNG/96/Plants/pineapple-96.png'" [link]="'test'" [text]="'text'"></hure-group>
        <hure-group class="col-md-3" [image]="'https://maxcdn.icons8.com/Color/PNG/96/Plants/pineapple-96.png'" [link]="'test'" [text]="'text'"></hure-group>
        <hure-group class="col-md-3" [image]="'https://maxcdn.icons8.com/Color/PNG/96/Plants/pineapple-96.png'" [link]="'test'" [text]="'text'"></hure-group>
        <hure-group class="col-md-3" [image]="'https://maxcdn.icons8.com/Color/PNG/96/Plants/pineapple-96.png'" [link]="'test'" [text]="'text'"></hure-group>
        <hure-group class="col-md-3" [image]="'https://maxcdn.icons8.com/Color/PNG/96/Plants/pineapple-96.png'" [link]="'test'" [text]="'text'"></hure-group>
        <hure-group class="col-md-3" [image]="'https://maxcdn.icons8.com/Color/PNG/96/Plants/pineapple-96.png'" [link]="'test'" [text]="'text'"></hure-group>
        <hure-group class="col-md-3" [image]="'https://maxcdn.icons8.com/Color/PNG/96/Plants/pineapple-96.png'" [link]="'test'" [text]="'text'"></hure-group>-->
    </div>
</div>