<div class="card mb-3">
    <div class="card-header">Danh sách tài khoản</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <button class="btn-admin btn-primary" (click)="openCreateUser()">Thêm nhóm nghề</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1">
                <div class="form-group filter">
                    <select class="form-control" [(ngModel)]="numberItemPage" (change)="pageChange()" id="exampleSelect1">
                        <option [ngValue]="5">5</option>
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                    </select>
                </div>
            </div>
            <div class="col-md-11">
                <div class="form-group input-group">
                    <input type="text" class="form-control" [(ngModel)]="keySearch" (keyup.enter)="getData()">
                    <span class="input-group-btn">
                        <button class="btn-admin btn-secondary" type="button" (click)="getData()">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="view-total">
            Tổng cộng {{totalItem}} dòng được tìm thấy
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-striped " *ngIf="_data">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên công ty</th>
                        <th>Tên viết tắt</th>
                        <th>Mô tả</th>
                        <th>Quy mô</th>
                        <th>Người đại diện</th>
                        <th>Số điện thoại</th>
                        <th>Website</th>
                        <th>Logo</th>
                        <th>Đối tác</th>
                        <th colspan="2" class="text-center">Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of _data;let i =index">
                        <td>{{i+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.shortName}}</td>
                        <td class="text-nowrap text-truncate">{{item.description}}</td>
                        <td>{{item.scales}}</td>
                        <td>{{item.representor}}</td>
                        <td>{{item.phoneNumber}}</td>
                        <td>{{item.website}}</td>
                        <td>
                            <img class="image" [src]="item.urlLogo">
                        </td>
                        <td class="text-center">
                            <span>
                                <i [class.fa-check]="item?.isPartner" class="fa"></i>
                            </span>
                        </td>
                        <td class="tac-vu">
                            <a (click)="openEdit(item.id)" placement="top" ngbTooltip="Sửa thông tin">
                                <i class=" fa fa-pencil-square-o " aria-hidden="true "></i>
                            </a>
                        </td>
                        <td class="tac-vu">
                            <a (click)="showConfirmDelete(item.id)" placement="top" ngbTooltip="Xóa">
                                <i class="fa fa-times " aria-hidden="true "></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ngb-pagination [pageSize]="numberItemPage " [collectionSize]="totalItem " [(page)]="currentPage " [maxSize]="numberPageView "
            [boundaryLinks]="true " (pageChange)="pageChange() "></ngb-pagination>
    </div>

</div>
<create-company (submitData)="getData() "></create-company>
<edit-company (submitData)="getData()"></edit-company>