<form>
        <div class="form-group">
          <label for="nameInput">Họ Và Tên của bạn:</label>
          <input type="name" class="form-control" id="nameInput" aria-describedby="namelHelp" placeholder="Enter Your Name">
        </div>
        <div class="row">
                <div class="col">
                    <label for="phoneInput">Điện Thoại:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col">
                    <label for="emailInput">Email:</label>
                    <input type="text" class="form-control">
                </div>
        </div>
        <div class="form-group">
                <label for="aboutControlSelect">Về việc:</label>
                <select class="form-control" id="aboutControlSelect">
                  <option>Góp ý với Lãnh đạo nhà trường</option>
                  <option>Liên hệ góp ý về công tác Tuyển sinh</option>
                  <option>Liên hệ góp ý về công tác đào tạo</option>
                  <option>Liên hệ góp ý về công tác tình hình giảng dạy</option>
                </select>
              </div>
        <div class="form-group">
          <label for="titleInput">Password</label>
          <input type="title" class="form-control" id="titleInput">
        </div>
        <div class="form-group">
                <label for="contentControlTextarea">Nội dung:</label>
                <textarea class="form-control" id="contentControlTextarea" rows="4"></textarea>
              </div>
        <button type="submit" class="btn btn-primary">Gửi đi</button>
      </form>