<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Chỉnh Sửa Thông Tin</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form role="form" #formCreate="ngForm" (ngSubmit)="create(formCreate)" ngNativeValidate>
            <div class="form-group has-danger">
                <label class="form-control-label">Phân quyền</label>
                <admin-dropdown [Title]="'Chọn phân quyền'" [Models]="roles" [ValueShow]="'name'" [ValueSelect]="'id'" (valueChange)="roleChange($event)"></admin-dropdown>
            </div>
            <div class="form-group has-success">
                <label class="form-control-label" for="username">Tên tài khoản</label>
                <input type="text" ngModel name="Username" class="form-control form-control-success" id="username" required>
            </div>

            <div class="form-group has-warning">
                <label class="form-control-label" for="firstname">Họ </label>
                <input type="text" ngModel name="Firstname" class="form-control form-control-warning" id="firstname" required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="lastname">Tên</label>
                <input type="text" ngModel name="Lastname" class="form-control form-control-warning" id="lastname" required>
            </div>
            <div class="form-group has-danger">
                <label class="form-control-label" for="email">Email</label>
                <input type="Email" ngModel name="Email" class="form-control form-control-danger" id="email" required>
            </div>
            <div class="form-group has-danger">
                <label class="form-control-label">Giới Tính</label>
                <admin-sex-select (sexSelected)="sexChange($event)"></admin-sex-select>
            </div>
            <div class="form-group has-danger">
                <!-- <label class="form-control-label">Ngày sinh</label> -->
                <admin-date-picker (timeChange)="timeChange($event)"></admin-date-picker>
            </div>
            <div>
                * Mật khẩu mặc định : 123456
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn-admin btn-primary">Lưu</button>
                <button type="button" class="btn-admin btn-secondary" (click)="c('Close click')">Hủy</button>
            </div>
        </form>
    </div>
</ng-template>