a,
input[type], button[type],h1, h2, h3, h4, h5 {
    font-family: "Montserrat", sans-serif;
}
h1,h2,h3{
    text-transform: uppercase;
}
p, span {
   font-family: "Montserrat", sans-serif;
}
/* .btn {
    border-radius: 40px !important;
    min-width: 100px;
} */

html,
body {
    overflow-x: hidden;
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Light.otf);
}

@font-face {
   font-family: Montserrat-Thin;
   src: url(fonts/Montserrat-ExtraLight.otf);
}