@import "~styles/variables.scss";
.hures-nav {
    margin: 0;
    align-items: center;
    .hures-logo-container {
        padding: 8px 48px;
        .hures-logo {
            margin: 0 auto;
            max-width: 100%;
            max-height: 100%;
            display: block;
        }
    }
    .hures-nav-menu {
        a {
            color: $background-color;
            font-weight: bold;
            font-size: 0.65em;
        }
    }
    .navul-list-item {
        width: 100%;
        margin: auto;
    }
    .hures-nav-menu {
        .nav-item {
            padding: 4px;
            margin: 0px auto;
            a{
                color: #006CB5 !important;
            }
        }
        .active {
            border-radius: 40em;
            background: #006CB5 !important;
            a {
                color: #FFFFFF !important;
            }
        }
        .hures-nav-toggle {
            border: 0;
        }
    }
    .hures-icon-container {
        padding: 2px;
        .hures-login-icon {
            font-size: 1.2em;
            cursor: pointer;
            color: $background-color;
        }
    }
}

@media screen and (max-width: 991px) {
    .active {
        background: #006CB5 !important;
        margin: 0 !important;
        border-radius: 0px !important;
        width: 100%;
        transition: all 1s ease-out;
        a {
            color: #FFFFFF !important;
        }
    }
}