.hures-main-head {
    padding: 20px !important;
    .col-lg-10 {
        display: inline-block;
        float: none;
        margin: 0 -4px 0 0;
        position: static;
        vertical-align: middle;
    }
    .hures-nav-toggle {
        border-radius: 0;
        padding: 8px;
        border: 0;
        background: rgb(85, 167, 71) !important;
        color: white;
        span {
            color: white;
        }
    }
    .hures-logo {
        display: flex;
        justify-content: space-between;
    }
    .hures-nav-menu {
        padding: 0;
        ul {
            width: 100%;
            justify-content: space-evenly;
            li {
                a {
                    font-size: 12px;
                    text-decoration-line: none;
                    text-align: left;
                }
                a.active {
                    color: rgb(85, 167, 71) !important;
                }
                div.hures-login-joinus {
                    margin-top: .2rem;
                    ul {
                        padding-left: 4px;
                        li {
                            padding: 0.2rem;
                        }
                        .hures-login {
                            color: rgb(85, 167, 71);
                            font-size: 12px;
                            display: inline-block;
                        }
                        .hures-signup {
                            background: rgb(85, 167, 71);
                            border-radius: 4px;
                            font-size: 12px;
                            display: inline-block;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}