<div class="row hures-nav">
    <div class="d-none d-sm-none d-md-none d-lg-none d-xl-block col-xl-2 hures-logo-container">
        <img src="img/logo.png" alt="Hutech_Logo" class="text-center align-middle hures-logo" />
    </div>
    <div class="col-10 col-xl-9">
        <nav class="navbar navbar-expand-lg align-middle navbar-light hures-nav-menu">
            <button class="navbar-toggler hures-nav-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navul-list" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto navul-list-item d-flex justify-content-center">
                    <li *ngFor="let item of navMenu" class="nav-item dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link text-uppercase  text-center" [routerLink]="item.link">{{ item.text }}</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
    <hure-popover *ngIf="!isLoggedIn" class="col-2 col-xl-1">
        <div class="hures-button-popover" button>
            <img src="/resources/ic_login.svg" alt="avatar">
        </div>
        <hure-login popover></hure-login>
    </hure-popover>
    <hure-popover [hidden]="!isLoggedIn" class="col-2 col-xl-1">
        <div class="hures-button-popover" button>
            <img [src]="profile?.avatar" alt="avatar">
        </div>
        <button class="btn btn-danger" (click)="logout()" popover>Log out</button>
    </hure-popover>

</div>