<div class="body-footer">
    <div class="row">
        <div class="col-md-4">
            <div>
                <b>TRUNG TÂM QUAN HỆ DOANH NGHIỆP</b>
                <br> Trụ sở : 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM
            </div>
        </div>
        <div class="col-md-4">
            <div>
                ĐT: (08) 224 772 11 <br> Email: <a href="mailto:quanhedoanhnghiep@hutech.edu.vn">quanhedoanhnghiep@hutech.edu.vn</a>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <a href="http://www.hutech.edu.vn/homepage/index.php">Trang Chủ</a> | <a href="https://www.hutech.edu.vn/qhdn//index.php/admin">Đăng nhập</a>                | <a href="http://www.hutech.edu.vn/contact/">Liên Hệ</a>
                <br>Bản quyền <span style="font-size: small;"><a href="#"><strong>©</strong></a></span> 2017 <a rel="author"
                    href="https://plus.google.com/u/0/+hutech">HUTECH</a></div>
        </div>
    </div>
</div>