$light-color: var(--light);
.hures-event-card {
    background: #FFFFFF;
    padding: 8px;
    max-height: 128px;
    &:hover{
        background: $light-color;
    }
    .hures-event-content {
        padding: 8px;
        width: 100%;
        .hures-event-info{
            width: 100%;
        }
    }
    img {
        max-width: 112px;
        object-fit: contain;
    }
    h4 {
        font-size: 1rem;
    }
    p{
        font-size: 0.8rem;
    }
    h4, p{
        margin: 4px 0;
    }
}