$background-color : var(--light);

.hures-search-bar{
    position: fixed;
    top: 80px;
    right: -2px;
    z-index: 999;
    background: $background-color;
    padding: 4px;
    border-radius: 2px 0 0 2px;
    .hures-search-btn{
        font-size: 1.6em;
        cursor: pointer;
        &:hover{
            background: white;
        }
    }
    .hures-search-form{
        max-width: 376px;
        .hures-search-box{
            border: 0;
            width: 100%;
            margin: 0;
            height: 100%;
            padding: 8px;
        }
    }
}