
.search_box{
    position: relative;
    margin:100px;
    
}
.search_box .form-control{
    border-radius: 0;
}

.search_icon{
    position: absolute;

    background-color:#FF4500;
    padding: 7px;
    border-radius: 5px;
    bottom:-50px;
    left:-15px;
}
@media screen and (max-width: 415px) {
    
    .search_box{
        margin:10px;
    }
 }