span.carousel-control-prev-icon,
span.carousel-control-next-icon{
    width: 35px!important;
    height: 35px!important;
}
.view img, 
.view video{
    height: 350px;
    width: 100%;
}
.carousel-caption{
    color: #fff!important;
    font-family: "HelveticaNeue"; 
    width: 70%;
    padding: 50px 25px;
    background: rgba(32, 95, 147, 0.5);   
    left: 50%;
    top: 50%;     
    bottom: auto;
    transform: translate(-50% , -50%)!important;    
}
.carousel-caption .h3-responsive{
    font-size: 36px;
}
.carousel-caption p{
    font-style: italic;
    font-size: 21px;
}
.carousel-indicators{
    visibility: hidden;
}
@media screen and (max-width: 1024px){
    .view img, 
    .view video{
        height: auto;
    }
}
@media screen and (max-width: 736px){
    .carousel-caption  .h3-responsive{
        font-size: 24px;
    }
    .carousel-caption p{
        font-size: 14px;
    }  
}